# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=shoppingsupporter
DATABASE_URL=postgresql://postgres:password@db:5432/shoppingsupporter

# Backend
BACKEND_PORT=8000

# Frontend
FRONTEND_PORT=3000

# Analysis
ANALYSIS_PORT=8001
